<ui-section
  title="Transze"
  [badge]="badge()"
  [toggleable]="true"
  [defaultOpen]="false"
  [enabled]="isSectionEnabled()"
  (enabledChange)="sectionEnabledControl.setValue($event)"
>
  <div [formGroup]="fieldsGroup">
    <ui-cards-group>
      <div formArrayName="transze">
        @for (tranche of transzeArray.controls; track $index) {
          <ui-card
            [tag]="'TRANSZA ' + ($index + 1)"
            [removable]="$index > 0"
            (remove)="removeTransza($index)"
            [formGroupName]="$index"
          >
            <div [class]="$index > 0 ? 'row row--3' : 'row row--2'">
              <ui-field label="Kwota">
                <ui-number-input formControlName="amount" suffix="zł" [decimals]="2" />
              </ui-field>
              <ui-field label="Data uruchomienia">
                <ui-month-picker formControlName="date" />
              </ui-field>
              @if ($index > 0) {
                <ui-field label="Opłata za uruchomienie transzy">
                  <ui-number-input formControlName="disbursementFee" suffix="zł" [decimals]="2" />
                </ui-field>
              }
            </div>
          </ui-card>
        }
      </div>

      <ui-btn-add label="Dodaj transzę" (add)="addTransza()" />
    </ui-cards-group>

    <div class="suma-row">
      <span class="muted">Suma transz</span>
      <span class="mono"
        ><b>{{ transzeSuma | formatAmount }}</b> zł</span
      >
    </div>
  </div>
</ui-section>
