<div class="subsec-head">
  <button
    type="button"
    class="subsec-toggle"
    [class.is-open]="open()"
    (click)="openChange.emit(!open())"
  >
    <span class="subsec-num">{{ num() }}</span>
    @if (title()) {
      <span class="subsec-title">{{ title() }}</span>
    }
    <span class="subsec-chev"><icon-chevron-right /></span>
  </button>
  @if (removable()) {
    <ui-btn-remove (remove)="remove.emit()" />
  }
</div>
@if (open()) {
  <div class="subsec-body">
    <ng-content />
  </div>
}
