<ui-section
  title="Koszty okołokredytowe i promocje"
  badge="opcjonalne"
  [toggleable]="true"
  [defaultOpen]="false"
  [enabled]="includedEnabled()"
  (enabledChange)="included.setValue($event)"
>
  <div [formGroup]="form">
    <ui-card tag="PROWIZJA ZA UDZIELENIE">
      <div class="row row--2">
        <ui-field label="Prowizja">
          <ui-number-input formControlName="commissionPct" suffix="%" [decimals]="2" />
        </ui-field>
        <ui-field label="Przeliczenie">
          <div class="inp inp--disabled">
            <input type="text" class="mono" [value]="commissionAmount() | formatAmount" readonly />
            <span class="suffix">zł</span>
          </div>
        </ui-field>
      </div>
    </ui-card>

    <ui-card tag="OPŁATA ZA WYCENĘ">
      <div class="row row--2">
        <ui-field label="Kwota">
          <ui-number-input formControlName="appraisalFee" suffix="zł" [decimals]="2" />
        </ui-field>
      </div>
    </ui-card>

    <ui-card tag="UBEZPIECZENIE POMOSTOWE">
      <div class="row row--2">
        <ui-field label="Bank podwyższa oprocentowanie o">
          <ui-number-input formControlName="bridgeRateIncrease" suffix="%" [decimals]="2" />
        </ui-field>
        <ui-field label="przez">
          <ui-number-input formControlName="bridgeMonths" suffix="mies." [decimals]="0" />
        </ui-field>
      </div>
    </ui-card>

    <ui-card tag="UBEZPIECZENIE NIERUCHOMOŚCI">
      <div class="row row--2">
        <ui-field label="Jak często opłacana jest składka?">
          <ui-select
            formControlName="propInsFrequency"
            [options]="propertyInsFrequencyOptions"
            [labels]="propertyInsFrequencyOptions | insuranceFrequencyLabel"
          />
        </ui-field>
        <ui-field label="Jak wyliczana jest składka?">
          <ui-select
            formControlName="propInsCalcMethod"
            [options]="propertyInsCalcOptions"
            [labels]="propertyInsCalcOptions | insuranceCalcMethodLabel"
          />
        </ui-field>
        <ui-field label="Wartość składki">
          <ui-number-input
            formControlName="propInsValue"
            [suffix]="propInsSuffix"
            [decimals]="propInsDecimals"
          />
        </ui-field>
        <div class="row row--2">
          <ui-field label="Od">
            <ui-month-picker formControlName="propInsFrom" />
          </ui-field>
          <ui-field label="do">
            <ui-month-picker formControlName="propInsTo" />
          </ui-field>
        </div>
      </div>
    </ui-card>

    <ui-card tag="UBEZPIECZENIE NISKIEGO WKŁADU">
      <div class="row row--2">
        <ui-field label="Bank podwyższa oprocentowanie o">
          <ui-number-input formControlName="lowEquityRateIncrease" suffix="%" [decimals]="2" />
        </ui-field>
      </div>
    </ui-card>

    <ui-card tag="UBEZPIECZENIE NA ŻYCIE">
      <div class="row row--2">
        <ui-field label="Jak często opłacana jest składka?">
          <ui-select
            formControlName="lifeInsFrequency"
            [options]="insuranceFrequencyOptions"
            [labels]="insuranceFrequencyOptions | insuranceFrequencyLabel"
          />
        </ui-field>
        <ui-field label="Jak wyliczana jest składka?">
          <ui-select
            formControlName="lifeInsCalcMethod"
            [options]="lifeInsCalcOptions"
            [labels]="lifeInsCalcOptions | lifeInsuranceCalcMethodLabel"
          />
        </ui-field>
        <ui-field label="Wartość składki">
          <ui-number-input
            formControlName="lifeInsValue"
            [suffix]="lifeInsSuffix"
            [decimals]="lifeInsDecimals"
          />
        </ui-field>
        <div class="row row--2">
          <ui-field label="Od">
            <ui-month-picker formControlName="lifeInsFrom" />
          </ui-field>
          <ui-field label="do">
            <ui-month-picker formControlName="lifeInsTo" />
          </ui-field>
        </div>
      </div>
    </ui-card>

    <ui-card tag="UBEZPIECZENIE OD UTRATY PRACY">
      <div class="row row--2">
        <ui-field label="Jak często opłacana jest składka?">
          <ui-select
            formControlName="jobLossInsFrequency"
            [options]="insuranceFrequencyOptions"
            [labels]="insuranceFrequencyOptions | insuranceFrequencyLabel"
          />
        </ui-field>
        <ui-field label="Jak wyliczana jest składka?">
          <ui-select
            formControlName="jobLossInsCalcMethod"
            [options]="lifeInsCalcOptions"
            [labels]="lifeInsCalcOptions | lifeInsuranceCalcMethodLabel"
          />
        </ui-field>
        <ui-field label="Wartość składki">
          <ui-number-input
            formControlName="jobLossInsValue"
            [suffix]="jobLossInsSuffix"
            [decimals]="2"
          />
        </ui-field>
        <ui-field label="Od">
          <ui-month-picker formControlName="jobLossInsFrom" />
        </ui-field>
      </div>
    </ui-card>

    <ui-cards-group>
      <div formArrayName="additionalCosts">
        @for (cost of additionalCostsArray.controls; track $index) {
          <ui-card
            [tag]="'DODATKOWY KOSZT ' + ($index + 1)"
            [removable]="$index > 0"
            (remove)="removeAdditionalCost($index)"
            [formGroupName]="$index"
          >
            <div class="row row--2">
              <ui-field label="Nazwa kosztu">
                <div class="inp">
                  <input type="text" formControlName="name" class="mono" />
                </div>
              </ui-field>
              <ui-field label="Jak często pobierana jest opłata?">
                <ui-select
                  formControlName="frequency"
                  [options]="insuranceFrequencyOptions"
                  [labels]="insuranceFrequencyOptions | insuranceFrequencyLabel"
                />
              </ui-field>
              <ui-field label="Jak wyliczana jest opłata?">
                <ui-select
                  formControlName="calcMethod"
                  [options]="lifeInsCalcOptions"
                  [labels]="lifeInsCalcOptions | lifeInsuranceCalcMethodLabel"
                />
              </ui-field>
              <ui-field label="Kwota">
                <ui-number-input
                  formControlName="value"
                  [suffix]="getAdditionalCostSuffix($index)"
                  [decimals]="2"
                />
              </ui-field>
              <ui-field label="Okres ponoszenia kosztu (Od)">
                <ui-month-picker formControlName="from" />
              </ui-field>
            </div>
          </ui-card>
        }
      </div>
      <ui-btn-add label="Dodaj koszt" (add)="addAdditionalCost()" />
    </ui-cards-group>

    <ui-card tag="PROMOCJA OPROCENTOWANIA">
      <div class="row row--2">
        <ui-field label="Bank obniża oprocentowanie o">
          <ui-number-input formControlName="promoRateDecrease" suffix="%" [decimals]="2" />
        </ui-field>
        <div class="row row--2">
          <ui-field label="Od">
            <ui-month-picker formControlName="promoFrom" />
          </ui-field>
          <ui-field label="do">
            <ui-month-picker formControlName="promoTo" />
          </ui-field>
        </div>
      </div>
    </ui-card>
  </div>
</ui-section>
