<ui-section
  title="Nadpłaty"
  [badge]="badge()"
  [toggleable]="true"
  [defaultOpen]="false"
  [enabled]="isSectionEnabled()"
  (enabledChange)="sectionEnabledControl.setValue($event)"
>
  <div [formGroup]="fieldsGroup">
    <ui-cards-group>
      <div formArrayName="prepaymentRules">
        @for (rule of nadplatyRegulyArray.controls; track $index) {
          <ui-card
            [tag]="'REGUŁA NADPŁATY ' + ($index + 1)"
            [removable]="$index > 0"
            (remove)="removeNadplataRegula($index)"
            [formGroupName]="$index"
          >
            <div class="row row--2">
              <ui-field label="Jak często nadpłacasz?">
                <ui-select
                  formControlName="frequency"
                  [options]="prepaymentFrequencyOptions"
                  [labels]="prepaymentFrequencyOptions | prepaymentFrequencyLabel"
                  (valueChange)="onNadplataFrequencyChanged($index)"
                />
              </ui-field>
              @if (rule.get('frequency')?.value === PrepaymentFrequency.ONE_TIME) {
                <ui-field label="Data nadpłaty">
                  <ui-month-picker
                    formControlName="from"
                    (valueChange)="onNadplataFromChanged($index)"
                  />
                </ui-field>
              } @else {
                <ui-field label="Data nadpłaty od">
                  <ui-month-picker
                    formControlName="from"
                    (valueChange)="onNadplataFromChanged($index)"
                  />
                </ui-field>
                <ui-field label="Data nadpłaty do">
                  <ui-month-picker formControlName="to" />
                </ui-field>
              }
              <ui-field label="Kwota nadpłaty">
                <ui-number-input formControlName="amount" suffix="zł" [decimals]="2" />
              </ui-field>
              <ui-field label="Skutek nadpłaty">
                <ui-select
                  formControlName="effect"
                  [options]="prepaymentEffectOptions"
                  [labels]="prepaymentEffectOptions | prepaymentEffectLabel"
                />
              </ui-field>
            </div>
          </ui-card>
        }
      </div>
      <ui-btn-add label="Dodaj regułę nadpłaty" (add)="addNadplataRegula()" />
    </ui-cards-group>

    <ui-card tag="DOCELOWA RATA" formGroupName="rataDocelowaRegula">
      <div class="row row--2">
        <ui-field label="Chcę co miesiąc płacić do banku ratę w wysokości">
          <ui-number-input formControlName="targetRate" suffix="zł" [decimals]="2" />
        </ui-field>
        <ui-field label="Data nadpłaty od">
          <ui-month-picker formControlName="from" />
        </ui-field>
        <ui-field label="Data nadpłaty do">
          <ui-month-picker formControlName="to" />
        </ui-field>
        <ui-field label="Skutek nadpłaty">
          <ui-select
            formControlName="effect"
            [options]="prepaymentEffectOptions"
            [labels]="prepaymentEffectOptions | prepaymentEffectLabel"
          />
        </ui-field>
      </div>
    </ui-card>

    <ui-card tag="PROWIZJA ZA WCZEŚNIEJSZĄ SPŁATĘ" formGroupName="prowizjaWczesniejszaSplata">
      <div class="row row--2">
        <ui-field label="Wysokość prowizji za wcześniejszą spłatę">
          <ui-number-input formControlName="ratePct" suffix="%" [decimals]="2" />
        </ui-field>
        <ui-field label="Bank pobiera prowizję do">
          <ui-month-picker formControlName="validUntil" />
        </ui-field>
      </div>
    </ui-card>
  </div>
</ui-section>
