<app-section
  title="Dane podstawowe"
  badge="Dane wymagane do przeprowadzenia kalkulacji"
  [defaultOpen]="true"
>
  <div [formGroup]="basicData">
    <div class="row row--3">
      <app-field num="1" label="Wartość nieruchomości">
        <app-number-input
          formControlName="propertyValue"
          suffix="zł"
          [decimals]="0"
          (valueChange)="onPropertyValueChanged()"
        />
      </app-field>

      <app-field num="2" label="Kwota kredytu">
        <app-number-input
          formControlName="loanAmount"
          suffix="zł"
          [decimals]="0"
          (valueChange)="onLoanAmountChanged()"
        />
      </app-field>

      <app-field num="3" label="LTV">
        <app-number-input
          formControlName="ltv"
          suffix="%"
          [decimals]="2"
          (valueChange)="onLtvChanged()"
        />
      </app-field>
    </div>

    <div class="row row--3">
      <app-field num="4" label="Okres kredytowania">
        <div class="inline">
          <app-number-input
            [value]="loanPeriodDisplayValue"
            [decimals]="0"
            (valueChange)="onLoanPeriodValueChanged($event)"
          />
          <app-segmented
            [options]="['lata', 'miesiące']"
            [value]="loanPeriodUnit"
            (valueChange)="onLoanPeriodUnitChanged($event)"
            [compact]="true"
          />
        </div>
      </app-field>

      <app-field num="5" label="Data uruchomienia kredytu">
        <app-month-picker formControlName="startDate" />
      </app-field>

      <app-field num="6" label="Początek spłat kapitału">
        <app-month-picker formControlName="capitalStartDate" />
      </app-field>
    </div>

    <div class="row row--3">
      <app-field num="7" label="Typ rat">
        <app-segmented
          formControlName="installmentType"
          [options]="['rowne', 'malejace']"
          [labels]="['równe', 'malejące']"
        />
      </app-field>
    </div>

    <div class="rate-block">
      <div formArrayName="ratePeriods">
        @for (period of ratePeriods.controls; track $index) {
          <div class="rate-period" [formGroupName]="$index">
            <div class="rate-period-head">
              <span class="rate-period-tag">OKRES {{ $index + 1 }}</span>
              @if ($index === 0) {
                <span class="muted small">od daty uruchomienia kredytu</span>
              } @else {
                <span class="muted small">od</span>
                <div class="rate-period-from">
                  <app-month-picker formControlName="from" />
                </div>
                <btn-remove class="rate-period-close" (remove)="removeRatePeriod($index)" />
              }
            </div>
            <app-field label="Stopa" num="8">
              <app-segmented
                formControlName="rateType"
                [options]="['zmienna', 'stala']"
                [labels]="['zmienna', 'stała']"
              />
            </app-field>
            <div class="row row--3">
              <app-field
                num="9"
                label="Oprocentowanie"
                [hint]="
                  period.get('rateType')?.value === 'zmienna' ? 'WIBOR + Marża' : 'wartość stała'
                "
              >
                @if (period.get('rateType')?.value === 'zmienna') {
                  <div class="inp inp--disabled">
                    <input
                      type="text"
                      class="mono"
                      [value]="
                        ((period.get('wibor')?.value || 0) + (period.get('margin')?.value || 0))
                          .toFixed(2)
                          .replace('.', ',')
                      "
                      readonly
                    />
                    <span class="suffix">%</span>
                  </div>
                } @else {
                  <app-number-input formControlName="nominalRate" suffix="%" [decimals]="2" />
                }
              </app-field>
              @if (period.get('rateType')?.value === 'zmienna') {
                <app-field num="9a" label="WIBOR">
                  <app-number-input formControlName="wibor" suffix="%" [decimals]="2" />
                </app-field>
                <app-field num="9b" label="Marża">
                  <app-number-input formControlName="margin" suffix="%" [decimals]="2" />
                </app-field>
              }
            </div>
          </div>
        }
      </div>
      <button type="button" class="btn btn--add" (click)="addRatePeriod()">
        ＋ Dodaj okres oprocentowania
      </button>
    </div>
  </div>
</app-section>
