<ui-dialog title="Ustawienia" (closed)="handleClosed()">
  <div class="dialog-body">
    <div class="setting-row">
      <label class="setting-label" for="settings-theme">Motyw</label>
      <ui-select
        inputId="settings-theme"
        [options]="themeOptions"
        [labels]="themeOptions | themeLabel"
        [formControl]="themeControl"
      />
    </div>
    <div class="setting-row">
      <label class="setting-label" for="settings-density">Gęstość interfejsu</label>
      <ui-select
        inputId="settings-density"
        [options]="densityOptions"
        [labels]="densityOptions | densityLabel"
        [formControl]="densityControl"
      />
    </div>
    <div class="setting-row">
      <span class="setting-label">Hipopotam Hippoteczny</span>
      <ui-switch [formControl]="pixelHippoControl" />
    </div>
  </div>
  <div class="dialog-actions">
    <button class="btn btn--primary" type="button" (click)="dismiss()">Gotowe</button>
  </div>
</ui-dialog>
