<div class="app">
  <app-topbar />

  <div class="two-column-layout">
    <div class="column">
      <app-basic-data-form />
      <app-overhead-costs-form />
      <app-tranches-form />
      <app-prepayments-form />
    </div>

    <div class="column">
      @if (results() && yearlyGroups()?.length) {
        <app-results-summary [results]="results()" />
        <app-results-charts [results]="results()" />
        <app-results-schedule [yearlyGroups]="yearlyGroups()" />
      } @else {
        <app-results-errors />
      }
    </div>
  </div>
</div>
